
header {
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 15px;
    font-size: 24px;
}

footer {
    text-align: center;
    border-top: 1px solid lightgray;
    padding: 15px;
}