    <ul class="accordion accUl {{accordionClass}}">
        {{#each signGroups}}
            <li>
                <div class="accordionHeader">
                    {{title}}
                    <!--<span>►</span>-->
                </div>
                <div class="accordion-group-buttons">
                    {{#each signs }}
                    <button class="toolbarButton accordion-button" rel="tooltip" data-img="{{imgName}}" data-sign-title="{{printSignText this}}">
                        {{printSignText this}}
                    </button>
                    {{/each}}
                </div>
            </li>
        {{/each}}
    </ul>


