<div class="settings-container" id="settingsContainer">
    <div class="settings-header">
        <h4>Настройки редактора</h4>
    </div>
    <div class="settings-body">
            <div class="setting-unit">
                <div class="setting-name">Величина отступа</div>
                <div>
                    <input type="radio" name="ident" value="5"> 5<Br>
                    <input type="radio" name="ident" value="10"> 10<Br>
                    <input type="radio" name="ident" value="15"> 15<Br>
                    <input type="radio" name="ident" value="20"> 20
                </div>
            </div>

        <div class="setting-unit">
            <div class="setting-name">Конфигурация элементов</div>
            <div>
                <input type="radio" name="skin" value="defaultStyle"> Default Style<Br>
                <input type="radio" name="skin" value="secondStyle"> Style N2<Br>
                <input type="radio" name="skin" value="newStyle"> Style N3
            </div>
        </div>

        <div class="setting-unit">
            <div class="setting-name">Цвет фона</div>
            <div>
                <input type="radio" name="bgcolor" value="white"> White<Br>
                <input type="radio" name="bgcolor" value="yellow"> Yellow<Br>
                <input type="radio" name="bgcolor" value="grey"> Grey
            </div>
        </div>

        <div class="setting-unit">
            <div class="setting-name">Цвет шрифта UI редактора</div>
            <div>
                <input type="radio" name="fontcolor" value="black"> Black<Br>
                <input type="radio" name="fontcolor" value="red"> Red<Br>
                <input type="radio" name="fontcolor" value="blue"> Blue
            </div>
        </div>

        <div class="setting-unit">
            <div class="setting-name">Цвет шрифта контента</div>
            <div>
                <input type="radio" name="contentcolor" value="black"> Black<Br>
                <input type="radio" name="contentcolor" value="red"> Red<Br>
                <input type="radio" name="contentcolor" value="blue"> Blue
            </div>
        </div>

        <div class="setting-unit">
            <div class="setting-name">Набор SC-элементов</div>
            <div>
                <input type="radio" name="scskin" value="defaultSCSkin"> Default Skin<Br>
                <input type="radio" name="scskin" value="customSCSkin"> Custom Skin
            </div>
        </div>

        <div class="setting-unit">
            <div class="setting-name">Панель сохранения</div>
            <div>
                <input type="radio" name="fileSavePanel" value="0"> Off<Br>
                <input type="radio" name="fileSavePanel" value="1"> On
            </div>
        </div>
    </div>
    <div class="settings-bottom-buttons">
        <input class="btn settings-button" type="button" value="Сохранить" id="saveSettingsButton"/>  <input class="btn settings-button"type="submit" value="Отмена" id="cancelSettingsButton"/>
    </div>
</div>