
<div class="toolbar">
    <!-- accordion should be inserted here -->

    <div id="accordionContainer"></div>

    <button id="toolbarToggleButton" class="toolbar-toggle-button toolbarButton"></button>

    <div class="toolbar-button-group vertical-button-group">
        <button id="addAttributeButton" class="toolbarButton button-for-arc"></button>
        <button id="changeArcTypeButton" class="toolbarButton button-for-arc"></button>
        <button id="changeNodeValueToSetButton" class="toolbarButton change-node-value-button" disabled=""></button>
        <button id="changeNodeValueToContourButton" class="toolbarButton change-node-value-button" disabled=""></button>
        <button id="changeNodeValueToTextButton" class="toolbarButton change-node-value-button" disabled=""></button>
        <button id="changeLinkValueButton" class="toolbarButton change-node-value-button" disabled=""
                data-content = "<select id='set-content-type' class='form-control'>
                                    <option value='string'>string</option>
                                    <option value='html'>html</option>
                                    <option value='image'>image</option>
                                    <option value='youtube_link'>youtube</option>
                                    <option value='googlemaplink'>googlemap</option>
                                    <option value='video'>video</option>
                                </select>
                                <textarea cols='30' rows='3' id='set-content-input' class='form-control pull-left' value='' autofocus />
                                <br/>
                                <input id='content' type='file' accept='image/*,text/html'/>
                                <div id='set-content-buttons-group'>
                                    <button type='button' id='set-content-apply' class='btn btn-success pull-left'>
                                        <span class='glyphicon glyphicon-ok-sign'/>Apply
                                    </button>
                                    <button type='button' id='set-content-cancel' class='btn btn-danger pull-right'>
                                        <span class='glyphicon glyphicon-remove-sign'/>Cancel
                                    </button>
                                </div>"
                data-html="true" data-placement="right" data-toggle="popover">
        </button>
        <button id="toolbarSaveButton" class="toolbarButton"></button> 
    </div>

    
  

</div>

