<div id="WPluginsContent" class="tab-content">
    {{#each partAliases}}
    <div id="{{ this }}WorkbenchCanvasPanel" class="WCanvasPanel">
        <div id="{{ this }}WorkbenchToolbar" class="WToolbarContainer">

        </div>
        <div id="{{ this }}WorkbenchEditor" class="WEditorContainer">

        </div>
    </div>
    {{/each}}
</div>