.scs-container {
    border: solid 1px #cccccc;
    background-color: #f8f8f9;
    min-width: 100px;
    min-height: 100px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.scs-element {
    float: left;
    cursor: pointer !important;
}

.scs-sentence {
    margin: auto;
    clear: both;
}

.scs-connector {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

/* SCn */
/*.scs-scn-content {
    position: relative;
    border: solid 1px #cccccc;
    background-color: #fafafa;
    padding: 3px;
    display: inline-block;
}

.scs-scn-content:before {
    position: absolute;
    top: -8px;
    left: -1px;
    content: url("../images/content_corner.png");
}

.scs-scn-contour {
    border: solid 1px #96a399;
    background-color: #fdfdfd;
    display: inline-block;
    padding: 3px;
    border-radius: 8px;
}*/

.scs-scn-level {
    padding-left: 15px;
}

.scs-scn-field-value {
    vertical-align: text-top;
}

.scs-scn-field {
    clear: both;
}

.scs-scn-field-root {
    margin-bottom: 24px;
}

.scs-scn-keyword {
    padding: 2px 2px 0px 2px;
    font-weight: bold;
    font-style: italic;
}

.scs-scn-element {
    cursor: pointer !important;
}

.scs-scn-element a {
    font-style: italic;
}

.scs-scn-field-marker {
    width: 20px;
    text-align: left;
    float: left;
    margin-top: -2px;
    vertical-align: text-top;
    font-family: "Unicode Symbols", "Times New Roman", "Apple Symbols","Arial Unicode MS";
    color: #2a6496;
}

.scs-scn-connector {
    font-family: "Unicode Symbols", "Times New Roman", "Apple Symbols","Arial Unicode MS";
    color: #2a6496;
}

.scs-scn-hovered{
    cursor: pointer !important;
    background-color: #CBD9F1;
}

.scs-scn-view-toogle-button {    
    position: absolute;
    top: 10px;
    right: 10px;
}

.print-preview .scs-scn-element {
    color: #000;
    font-size: 12px;
}

.print-preview a {
    color: #000;
}

.print-preview .scs-scn-field-marker {
    color: #000;
}

@media print {
    .scs-scn-element {
        font-size: 12px;
    }

    .scs-scn-field-marker {
        width: 15px;
        text-align: left;
        float: left;
        margin-top: 2px;
    }

    .scs-scn-content:before {
        position: absolute;
        top: -6px;
        left: -1px;
        content: url("../images/content_corner.png");
    }
}
