#WorkbenchContainer {
    width: 100%;
    height: 100%;
}

.WCanvasPanel {
    display: flex;
}

.WMenuContainer {
    float: left;
    background: none repeat scroll 0 0 blue;
}

/*.WToolbarContainer {*/
/*z-index: 10;*/
/*margin-top: 20px;*/
/*max-width: 225px;*/
/*padding: 10px;*/
/*left: 0;*/
/*transition: left 0.4s ease;*/
/*}*/

.WToolbarContainer {
    order: 0;
}

.WToolbarContainer.isHidden {
    display: none;
}

.WEditorContainer {
    margin-left: 10px;
    order: 1;
    width: 100%
}

.WStatusBarContainer {
    clear: both;
    background: none repeat scroll 0 0 grey;
}

.WCanvasPanel {
    float: left;
    width: 100%;
}

.toolbarButton {
    display: block;
    width: 205px;
    height: 40px;
    background-color: white;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    cursor: pointer;
}

.toolbarButton:hover {
    background-color: #efefef;
    cursor: pointer;
}

button[disabled=true],
button[disabled] {
    cursor: default;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
}

.accordion-button {
    width: 100%;
    float: left;
}

.accordion .accordion-group-buttons {
    overflow: hidden;
    width: 135px;
    padding: 3px 0 5px 0;
}

.accordion-group-buttons .accordion-button {
    border-radius: 0;
    border: none;
    box-shadow: 1px 0 0 0 #c4c4c4,
    0 1px 0 0 #c4c4c4,
    1px 1px 0 0 #c4c4c4,
    1px 0 0 0 #c4c4c4 inset,
    0 1px 0 0 #c4c4c4 inset;
}

.vertical-button-group.toolbar-button-group .toolbarButton {
    border-radius: 0;
    margin-top: -1px;
}

.toolbar-button-group.vertical-button-group .toolbarButton:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 0;
}

.toolbar-button-group.vertical-button-group .toolbarButton:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*Accordion columns number (from 2 to 5 columns, for single column add no class to accordion)*/

.accordion.col-5 .accordion-button {
    width: 20%;
}

.accordion.col-4 .accordion-button {
    width: 25%;
}

.accordion.col-3 .accordion-button {
    width: 33%;
}

.accordion.col-2 .accordion-button {
    width: 50%;
}

.toolbar-toggle-button {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    height: 30px;
    width: 60px;
    position: absolute;
    right: -43px;
    top: 24px;
}

.toolbar {
    max-width: 1000px;
}

.WToolbarContainer div {
    display: block;
}

.download-article-name-input {
    width: 130px;
    margin: 5px 0;
}

.downloadArticleButton {
    margin: 5px 0;
}

.file-input-container {
    overflow: hidden;
    width: 100px;
    height: 60px;
    background-image: url(/static/components/js/scn-editor/editor_images/20.png);
}

.file-input {
    opacity: 0;
    cursor: pointer;
    font-size: 20px;
    margin-left: -165px;
    height: 60px;
}

.scn-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

.scn-input.typeahead {
    width: auto;
}

.scn-input:focus {
    outline: none;
    box-shadow: 0px 0px 4px 1px rgba(75, 207, 255, 0.38);
}

.twitter-typeahead {
    width: auto;
    vertical-align: middle;
}