.SCnEditCanvas {
    padding: 9px;
}

.selectedSCnNode {
    border-left: 2px solid rgb(96, 230, 119) !important;
    padding-left: 5px;
}

.content-center-container {
    /*padding-left: 245px;*/
    /*padding-right: 278px;*/
    transition: padding 0.4s ease;
}

.content-center-container.no-history {
    padding-right: 38px;
}

.content-center-container.no-toolbar {
    padding-left: 40px;
}

.settings-container {
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0px 0px 4px 1px #32CD32 inset;
    border-radius: 15px;
}

.settings-container .settings-header {
    margin-bottom: 20px
}

.settings-container .setting-name {
    font-weight: bold;
}

.settings-container .setting-unit {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    margin-right: 20px;
}

.SCnFieldMarker.selectedSCnNode {
    color: red;
    font-weight: bold;
    box-shadow: none;
    font-size: 18px;
    border-left: none;
}

.selectedSetBracket {
    font-weight: bold;
    color: red;
}

.historyPanel {
    width: 200px;
    overflow-y: auto;
    padding-left: 0;
}

.historyPanel li {
    cursor: pointer;
}

.historyPanel .history-panel-item {
    list-style-type: none;
    padding: 7px 10px;
    background-color: ghostwhite;
    border-bottom: 1px solid whitesmoke;
}

.historyPanel li:hover {
    background-color: #e6e6fa;
}

.historyPanelToggleButton {
    align-self: center;
    border: none;
    background-color: white;
    height: 100%;
}

.historyPanelToggleButton:hover {
    background-color: grey;
}

.historyPanelContainer.isHidden .historyPanel {
    display: none;
}

.historyPanelContainer.isHidden .historyPanelToggleButton::before {
    content: "\25c0";
}

.historyPanelContainer .historyPanelToggleButton::before {
    content: "\25b6";
}

.historyPanelContainer {
    padding-top: 60px;
    z-index: 1000;
    display: flex;
    order: 2;
    right: 0;
    transition: right 0.4s ease;
}

.accordionHeader {
    cursor: pointer;
}

.accordion {
    margin-bottom: 5px;
}

.scAttribute > div {
    display: inline-block;
}

.atrribute-colon {
    display: inline-block;
    height: 0;
    width: 0;
}

.add-node {
    width: calc(100% - 50px);
    margin-left: 29px;
}

.btn-dropdown-menu-group {
    float: right;
    margin: 3px;
}

/* Формируем блок аккордеона */
.accordion {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    overflow: hidden;
}

/* список аккордеона */
.accordion > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.accordion > ul > li {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 36px;
    max-width: 300px;
    /* эффект перехода */
    transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
}

.accordion > ul > li > h3 {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;

}

.accordion > ul > li > div {
    margin: 0 auto;
    padding: 10px;
    color: #555;
    font-size: 14px;
    height: 100%;
}

.accordion > ul > li:hover {
    /*height: auto;*/
    overflow: auto;
    height: auto;
    transition: height 250ms ease-out;
}

/* пункты аккодеона при наведении */
.accordion:hover > ul > li:hover > h3 {
    /* оформляем пункты при наведении */
    cursor: pointer;
    /* градиент */
    /* подвижная ссылка */
    padding-left: 30px;
}