body {
	height: auto;
}

.panel-body {

}

#SCnFieldComment {
	font-size: 90%;
}

#SCnRuler {
	border-left: dotted 1px #999999;
}

.SCnNoTransContent {
	border: solid 1px #cccccc;
	display: inline-block;
	padding: 5px;
	background:url("../../images/content_corner.png") 0 0 no-repeat #fafafa;
}

.SCnTransContent {
	border: solid 1px #96a399;
	background-color: #eeeeee;
	display: inline-block;
	padding: 3px;
	border-radius: 8px;
}

.SCnTransContentNext {
}

.SCnSentence {
	padding: 2px;
	padding-left: 30px;
	clear: both;
}

.SCnKeyword {
	padding: 20px 2px 0px 2px;
	font-weight: bold;
	font-style: italic;
	min-height: 40px
}

.SCnLink {
	font-style: italic;
}

.SCnFieldMarker {
	width: 30px;
	display: inline-block;	
	vertical-align: top;
	margin-left: -32px;
}

.SCnFieldValue {
	display: inline-block;
}

.SCnFieldValue > input {
	height: 16px;
	margin: 7px;
}

.SCnField {
	min-height: 40px;
}

/* selection purpose class */
.SCnHovered {
    cursor: pointer !important;
    border: dashed #669933 2px !important;
}

/* selection purpose class */
.SCnSelected {
    cursor: pointer !important;
    border: solid #993300 2px !important;
}

#ContentWrap {
	/*max-width: 800px;*/
	/*max-height: 1000px;*/
	overflow: auto;
}

/* overriding jQuery tabs styles */
.SCnNoTransContent {
    color: black;
}

#scncontainer a.SCnLink {
    color: #0088CC;
}

.textNodeValue {
	padding: 7px;
	padding-left: 0px;
}

.template-select {
	padding: 0;
	width: 100%;
}
